
<div class="container">
    <div class="row">
      <div class="col-md-4">
  
      </div>
      <div class="col-md-5" style="background-color: #f2f2f2;">
    <form action="#" class="form">
      <div class="form-input-group mt-4">
      <label for="fname">First Name</label>
      <input type="text" class="form-input" id="fname" name="firstname" placeholder="Your name..">
      </div>
      <div class="form-input-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-input" id="lname" name="lastname" placeholder="Your last name..">
      </div>
  
      <div class="form-input-group">
      <label for="subject">Subject</label>
      <textarea id="subject" class="form-input" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
      
      <div class="form-input-group text-center mb-4">
      <input class="form-input text-center align-center" type="submit" value="Submit">
    </div>
    </form>
    </div>
  </div>
  </div>
  