<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-light fixed-top opnav">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/images/vl.png" alt="Logo" style="width:40px;">&nbsp; VOIZFONICA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div id="navbarResponsive">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/plan">Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Services</a>
          </li>
        </ul>
      </div>
      <div class="sign">
        <a class="btn btn-clear btn-min-block" routerLink="/login">Sign in</a>
        <a class="btn btn-clear btn-min-block" routerLink="/signup"><span style="	line-height: 2px;">Sign Up</span></a>
    </div>
    </div>
  </nav>

 