<div class="container-fluid" style="border: red">
    <img src="../../assets/images/about.jpg" width="1380px" height="600px" >
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><b style="font-size: 40px;color:red;text-decoration:underline">About Us</b></h3>
            <p class="card-text">
                <b style="font-size: 20px;text-align: justify">
                  <br>
                  VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way.
                  <br><br>VoizFonica business is very technology dependent as company acts as a network service provider (NSP)  in mobile.<br><br>

VoizFonica  is a company that is aware of the new challenges posed by today’s society. This is why the company offers the means to facilitate communication between people, providing them with the most secure and state of the art technology in order for them to live better, and for them to achieve whatever they resolve.

                    <br><br>
                    The number of telephone subscribers in India increased from 1,194.58 million at the end of Mar-17 to 1,210.84 million at the end of Jun-17, registering a growth of 1.36% over the previous quarter. This reflects year-on-year (Y-O-Y) growth of 14.25% over the same quarter of last year. The overall Tele-density in India increased to 93.98 at the end of Jun-17 from 92.98 at the end of the previous quarter.

<br><br>VoizFonica, established in the year 2010, has recorded substantial growth in terms of profit and market share(current market share in India is 8.9%, where in 2017 was 5.6% and in 2016 was 3.9%).
                </b>
              </p>
        </div>
        </div>

    
  </div>