
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                    <h4 class="heading"><strong>Customer </strong> Details <span></span></h4>
                    <div class="form">
                    <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                        <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt"><br>
                        <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt"><br>
                        <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="txt"><br>
                        
                         <textarea placeholder=" Delivery Address" name="mess" type="text" class="txt_3"></textarea><br>
                         <a routerLink = "/pay" class="btn btn-primary">Submit</a>
                    </form>
                    </div>
            </div>
        </div>
        </div>
    </div>