<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link " routerLink="/prepaid">Prepaid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prepaid">Postpaid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dongle">Dongle</a>
        </li>
      </ul>
</div>
<div class="container">
  <div class="row">
  <div class="card col-md-3" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink = "/getinfo" class="btn btn-primary">Pay</a>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="card col-md-3" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink = "/getinfo" class="btn btn-primary">Pay</a>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="card col-md-3" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink = "/getinfo" class="btn btn-primary">Pay</a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>