<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link " routerLink="/prepaid">Prepaid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prepaid">Postpaid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dongle">Dongle</a>
        </li>
      </ul>
</div>
<div class="ml-auto">
        <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                <div class="card-header grad">
                        1.4 GB / Day Combo 3G / 4G Data Pack
                      </div>
                <div class="card-body">
                  <h5 class="card-title">Rs. 495(84 days)</h5>
                  <p class="card-text">3G/4G Data: 1.4 GB / Day. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day.</p>
                  <a routerLink="/pay" class="btn btn-primary">Pay</a>
                </div>
              </div>
              <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header grad">
                            2 GB / Day Combo 3G / 4G Data Pack
                          </div>
                    <div class="card-body">
                      <h5 class="card-title">Rs. 499(82 days)</h5>
                      <p class="card-text">
                            3G/4G Data: 2 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day</p>
                      <a routerLink="/pay" class="btn btn-primary">Pay</a>
                    </div>
                  </div>
                  <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-header grad">
                                1.4 GB / Day Combo 3G / 4G Data Pack
                              </div>
                        <div class="card-body">
                          <h5 class="card-title">Rs. 509(90 days)</h5>
                          <p class="card-text">
                                3G/4G Data: 1.4 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day.</p>
                          <a routerLink="/pay" class="btn btn-primary">Pay</a>
                        </div>
                      </div>
                      <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                            <div class="card-header grad">
                                    3 GB / Day Combo 3G / 4G Data Pack
                                  </div>
                            <div class="card-body">
                              <h5 class="card-title">Rs. 558(82 days)</h5>
                              <p class="card-text">
                                    3G/4G Data: 3 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day.</p>
                              <a routerLink="/pay" class="btn btn-primary">Pay</a>
                            </div>
                          </div>
                          <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                                <div class="card-header grad">
                                        6 GB Combo 3G Data Pack
                                      </div>
                                <div class="card-body">
                                  <h5 class="card-title">Rs. 597(168 days)</h5>
                                  <p class="card-text">
                                        3G Data: 6 GB, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 300 SMS. SMS renewed every 28 day.</p>
                                  <a routerLink="/pay" class="btn btn-primary">Pay</a>
                                </div>
                              </div>
                              <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                                    <div class="card-header grad">
                                            12 GB Combo 3G Data Pack
                                          </div>
                                    <div class="card-body">
                                      <h5 class="card-title">Rs. 998(336 days)</h5>
                                      <p class="card-text">
                                            3G Data: 12 GB, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 300 SMS. SMS renewed every 28 day</p>
                                      <a routerLink="/pay" class="btn btn-primary">Pay</a>
                                    </div>
                                  </div>
                                  <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                                        <div class="card-header grad">
                                                1 GB / Day Combo 3G Data Pack
                                              </div>
                                        <div class="card-body">
                                          <h5 class="card-title">Rs. 1699(1 year)</h5>
                                          <p class="card-text">
                                                3G Data: 1 GB / Day, extra @Rs.0.04/10KB. Local, STD & Roaming Calls: Unlimited. SMS: 100 SMS / Day</p>
                                          <a routerLink="/pay" class="btn btn-primary">Pay</a>
                                        </div>
                                      </div>
                                    </div>
